<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE GREAT NUMBER GAME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
      .block:not(:last-child) {
      margin-bottom: 1.5rem;
}
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="container is-fluid">
        <div class="notification is-primary">
      <h1 class="title">
        WELCOME TO THE GREAT NUMBER GAME!
      </h1>
      <p class="subtitle">
        I'm thinking of a number from 1 to 100!!
      </p>
      <form action="/number" method="post">
        <p><strong>Your Guess</strong></p>
        <input class="input is-large" type="number" placeholder="your guess here">
        <button type="submit">Submit</button>
      </form>
      </div>
      {% if comparison == "correct" %}
      <div class="block bd-notification is-success">
        <strong>Correct!!!</strong>.
      </div>
      {% else %}
    <div class="block bd-notification is-danger">
        Your guess is <strong>{{comparison}}</strong>!! 
        </div>
        {% endif %}
    <a class="button is-danger"  href="/reset">Reset</a>
  </body>
</html>