<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Counter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .container{
            display: block;
        }
        .container h1{
            display: inline-flex;
            justify-content: center;
        }
        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <div class="buttons">
            <form action='/a' method='post'>
            <h3><span name="add">{{count}}</span> visit(s)</h3>
            <button class="button is-success" onclick ="counter()" name ="count">Click</button>
            </form>
            <form action="/destroy_session" method ='post'>
            <button class="button is-danger" onclick ="clear()" name="reset">Reset</button>
            </form>
        </div>
    </div>
</body>

</html>